@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  color: whitesmoke;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.greenHeading {
  color: #159957;
  font-size: 2xl;
  padding-bottom: 4px;
  padding-top: 4px;
}
